body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #7a2020;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 20px; 
}

header img.header-img {
    width: 700px;
    height: 500px;
    border-radius: 30px;
}

header {
    background: #320707;
    border-radius: 20px;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #810d0d 3px solid;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 50px;
    padding: 20px 0;
}

.introduction {
    background: #fff;
    font-size: 30px ;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 15px rgb(145, 78, 78);
    margin: 20px;
    padding: 20px;
    overflow: hidden;
}
.hobbies, .favorites, .gallery {
    background: #fff;
    font-size: 25px ;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 10px 15px rgb(145, 78, 78);
    margin: 20px;
    padding: 20px;
    overflow: hidden;
}

h2 {
    color: #2b0303;
    border-bottom: 2px solid #470d0d;
    padding-bottom: 5px;
}


.photo-scatter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.photo-scatter img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.photo-scatter img:hover {
    transform: scale(1.05);
}

