* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eb5b89;
}

.login-container {
    background-color: rgb(241, 157, 215);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-control {
    margin-bottom: 15px;
    text-align: left;
}

.form-control input {
    width: 378px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6d003a;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ed0000;
}
