*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(130, 0, 82);
}

.form-container{
    background-color:rgb(249, 138, 175);
    margin: auto;
    width: 70%;
    border: 4px dashed rgb(104, 0, 50);
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 20;
    padding-left: 8px;
    padding-right: 8px;
}

.form-control{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

input[type="text"]{
    width: 60%;
    color:rgb(165, 18, 72)
}
button[type="submit"]{
    border: none;
    border-radius: 5px;
    padding: 7px;
    color:beige;
    background-color:rgb(173, 18, 105)
}
button[type="submit"]:hover{
    background-color: crimson;
}